.formLogReg {
    margin: 2em auto 0;
    background-color: rgb(201, 216, 251);
    padding: 2em;
    border-radius: 1em;
    max-width: 500px;
    font-family: 'League Spartan', sans-serif;
}

.formLogReg button {
    background-color: rgb(36, 65, 127);
    border: 0;
}