@import "AboutDetails.css";

/* About Me */

.aboutContainer {
    min-height: 200vh;
    width: 100%;
    /* overflow: hidden; */
}

.blackPortrait {
    height: 75vh;
    max-width: 90vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    object-fit: cover;
    position: sticky;
    top: 15%;
    float: right;
}

.about-text-container {
  width: 60%;
  padding: 5%;
}

.about-text-container 

.about-text {
  font-size: 24px;
  line-height: 1.5cm;
  word-spacing: 5px;
  padding: 5%;
}

/* Header */
      
.header span {
  text-align: justify;
  letter-spacing: 3px;
  padding: 5%;
  text-align: justify;
} 

@media all and (max-width: 768px) {
  .blackPortrait {
    display: none;
}

.header {
  z-index: 1;  
}
}

.icons {
  width: 35px;
  height: 35px;
  margin: 0 10px 10px;
}