* {
  box-sizing: border-courses;
  padding: 0;
  margin: 0;
}

/* Details */

.details {
  min-height: 100vh;
  width: 90vw;
  margin: 10% auto;
  padding: 3%;
  border-radius: 1em;
}

.details h1 {
  position: sticky;
  top: 15%;
  bottom: 10%;
  text-transform: uppercase;
  margin: 1em auto;
  font-weight: 700;
}

.details:nth-of-type(1) .summary, 
.details:nth-of-type(2) .summary, 
.details:nth-of-type(3) .summary,
.details:nth-of-type(4) .summary,
.details:nth-of-type(5) .summary {
  background-color: transparent;
}

.details:nth-of-type(1) .summary h4, 
.details:nth-of-type(2) .summary h4, 
.details:nth-of-type(3) .summary h4 {
  font-weight: 800;
}

.details:nth-of-type(4) .summary,
.details:nth-of-type(5) .summary  {
  min-height: 100vh;
  margin-left: auto;
  padding: 5%;
}

/* Details Course (4) */

.details:nth-of-type(4) .courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
  margin-left: auto;
  border-radius: 1em;
  background-color: transparent;
}

.details:nth-of-type(4) .courses img {
  display: block;
  width: 120px;
  aspect-ratio: 2/1;
  height: auto;
  object-fit: contain;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1em;
}

/* Details Skills (5) */

.details:nth-of-type(5) .courses {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 2% 5%;
  margin: 3% 0;
  border-radius: 1em;
  background-color: transparent;
}

.details:nth-of-type(5) .courses img {
  display: block;
  width: 120px;
  aspect-ratio: 2/1;
  height: auto;
  object-fit: contain;
  padding: 2%;
  border-radius: 1em;
}

.details:nth-of-type(5) .courses img {
  padding: 1% 0;
}

.text {
  height: auto;
  width: 70%;
  object-fit: contain;
  margin-left: auto;
  margin-bottom: 5%;
  padding: 5%;
  border-radius: 1em;
  background-image: linear-gradient(to left top, #3373c680, #0099d580, #00b6c38f, #53b2cc92, #85c6dc);
}

/* Courses */

.courses {
  height: auto;
  width: auto;
  width: 70%;
  padding: 5%;
  border-radius: 1em;
  margin-bottom: 5%;
  object-fit: contain;
  background-image: linear-gradient(to left top, #3373c680, #0099d580, #00b6c38f, #53b2cc92, #85c6dc);
}

.courses a {
  color: inherit;
  text-decoration: none;
}

.courses p {
  font-size: 20px;
}

/* Skill */

.skill {
  display: grid;
  grid: "one two" auto "three three" auto "four five" auto "six six" auto;
  height: auto;
  width: 90%;
  margin-left: auto;
  position: sticky;
  top: 20%;
}

.skill span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10%;
}

.skill img {
  width: 80px;
  aspect-ratio: 2/1;
  height: auto;
  object-fit: contain;
}

.skill p {
  font-size: 20px;
  margin-left: 10px;
}

.skill span:nth-child(1) {
  grid-area: one;
  justify-content: center;
}

.skill span:nth-child(2) {
  grid-area: two;
  justify-content: center;
}

.skill span:nth-child(3) {
  grid-area: three;
  justify-content: center;
}

.skill span:nth-child(4) {
  grid-area: four;
  justify-content: center;
}

.skill span:nth-child(5) {
  grid-area: five;
  justify-content: center;
}

.skill span:nth-child(6) {
  grid-area: six;
  justify-content: center;
}

/* Text Area */

.text p {
  font-size: 1em;
  font-weight: 700;
  color: inherit;
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .text {
    width: 60%;
  }
}

@media all and (max-width: 768px) {

  .details h1 {
    position: static;
    margin: 2em 1em;
  }

  .details:nth-of-type(4) .summary, .details:nth-of-type(5) .summary {
    min-height: 100vh;
    width: 100%;
    padding: 5%;
  }

  .text {
    height: auto;
    width: auto;
  }

  .courses {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0;
  }

  .details:nth-of-type(4) .courses img, .details:nth-of-type(5) .courses img {
    width: 120px;
  }

  .skill {
    margin: auto;
  }
}

@media all and (max-width: 576px) {

  .text {
    text-align: center;
  }

  .details h1 {
    position: static;
    text-align: center;
  }

  .details:nth-of-type(4) .courses {    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courses p {
    font-size: 18px;
    margin: 5% auto;
    text-align: center;
  }

  .skill span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10%;
  }

  .skill {
    margin: auto;
    grid: "one" auto "two" auto "three" auto "four" auto "five" auto "six" auto;
  }

  .skill p {
    margin: 5%;
  }
}