@import "Nav.css";

/* Layout and Design */

.main {
    min-height: 100vh;
    width: 100%;
    padding: 5%;
    margin: 0;
}

/* Font Family */

.primary {
    font-family: 'Arvo', serif;
}

.secondary {
    font-family: 'Lato', sans-serif;
}

/* Dark Mode */

.dark-mode {
    background-color:#20252d;
    color: white;
}

.light-mode {
    background-color: rgb(241, 243, 255);
    color: black;
}

/* Scroll Down Arrow */

.keepScrolling {
    position: absolute;
    top: 80%;
    margin: auto;
    cursor: pointer;
}

.arrowScrolling {
    width: 30px;
    height: 30px;
}

.arrowScrolling:hover {
    -webkit-animation: heartbeat 1s ease-in-out infinite both;
    animation: heartbeat 1s ease-in-out infinite both;
}