* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;

}

.aboutSections { 
    height: auto;
    width: 100%;
    background-color: #121111;
    border: 0;
}

header.details h1 {
  margin-top: 1em;
  text-align: center;
}

header.details h1 span {
  white-space: nowrap;
}

.details {
  height: 100vh;
  width: 100%;
  padding: 5%;
}

.details:nth-of-type(1) {
  background-color: rgb(92, 124, 147);
}

.details:nth-of-type(2) {
  background-color: rgb(165, 92, 92);
}

.details:nth-of-type(3) {
  background-color: rgb(92, 165, 102);
}

.details:nth-of-type(4) {
  background-color: rgb(133, 92, 165);
}

.details h1 {
  color: white;
  position: sticky;
  top: 10%;
  bottom: 10%;
}

.text {
  height: auto;
  width: 70vw;
  margin-left: auto;
  margin-bottom: 1.5em;
  border: 2px solid white;
  padding: 1em;
}

.text p {
  font-size: 1.5em;
  color: white;
}

.courses {
  height: auto;
  width: 70vw;
  margin-left: auto;
  margin-bottom: 1.5em;
  padding: 1em;
}

.box {
  height: auto;
  width: 70vw;
  margin-left: auto;
  margin-bottom: 1.5em;
  padding: 1em;
}

@media all and (max-width: 768px) {
  .details h1 {
    position: static;
    margin-bottom: 1em;
  }
  .text {
    height: 70vh;
    width: 90vw;
    margin: 1.5 auto;
    border: 2px solid white;
  }
}