.experienceBg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    --body-color1: #a3e6fc;
    background-color: var(--body-color1);
    
  }