.portfolio {
    display: flex;
    border: 0;
    overflow: hidden;
    position: relative;
}

.eyes {
    position: absolute;
    top: 80%;
    right: 10%;
    width: 100px;
}
  
article {
    width: 100vw;
}
  
  
article p {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

.textEnd {
    text-align: end;
}

.textStart {
    text-align: start;
}

.textCenter {
    text-align: center;
}