.portfolioContainer {
    height: auto;
    width: 85vw;
    background-image: linear-gradient(to right, #1b6d476f, #008583b3, #0079a2ae, #014d7fa1, #45397288);
    padding: 5%;
    margin: auto;
    border-radius: 1em;
}

.portfolioContainer header h1 {
    color: white;
}

/* Flex Container */

.flexContainer {
    width: 100%;
}

.miniProject {
    overflow: hidden;
    width: 100%;
    padding: 1em;
}

.miniProjectText {
    padding: inherit;
}
  
.miniProjectText h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
  
.miniProjectText p {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.miniProjectText2 {
    padding: inherit;
}
  
.miniProjectText2 h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
  
.miniProjectText2 p {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(255, 248, 248);
    text-align: justify;
}

.miniProjectImg {
    margin: 1em;
    cursor: pointer;
}
  
.miniProjectImg img {
    object-fit: cover;
    border: 2px solid rgb(118, 120, 118);
    padding: 0.3em;
    width: 100%;
    max-width: 600px;
    height: 100%;
}

.miniProjectImg img:hover {
    object-fit: cover;
    border: 2px solid rgba(26, 27, 26, 0);;
    background-color: rgb(208, 200, 185);
    padding: 0.3em;
    width: 100%;
    max-width: 600px;
    height: 100%;
}