/* Mini Project 1 */

.portfolioLinks {
    height: auto;
    background-image: linear-gradient(to right, #151414, #131212, #101010, #0d0d0d, #0a0a0a); border: 0;
    font-family: 'League Spartan', sans-serif;
}

.portfolioLinks header h2 {
    color: white;
    padding: 2.5em 1em 0;    
}

/* Flex Container */

.flexContainer {
    width: 90vw;
    margin: auto; 
}

.miniProject {
    max-width: 100%;
}

.miniProjectText {
    max-width: inherit;
    margin: 1em;
    padding: 0.5em;
}
  
.miniProjectText h1 {
    font-size: 2em;
    color: rgb(96, 176, 96);
    font-weight: 700;
}
  
.miniProjectText p {
    font-size: 1em;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.miniProjectText2 {
    max-width: inherit;
    margin: 1em;
    padding: 0.5em;
}
  
.miniProjectText2 h1 {
    font-size: 2em;
    color: rgb(112, 96, 176);
    font-weight: 700;
}
  
.miniProjectText2 p {
    font-size: 1em;
    font-weight: 500;
    color: rgb(255, 248, 248);
}

.miniProjectImg {
    margin: 1em;
    cursor: pointer;
}
  
.miniProjectImg img {
    object-fit: cover;
    border: 2px solid rgb(118, 120, 118);
    padding: 0.3em;
    width: 100%;
    max-width: 600px;
    height: 100%;
}

.miniProjectImg img:hover {
    object-fit: cover;
    border: 2px solid rgba(26, 27, 26, 0);;
    background-color: rgb(208, 200, 185);
    padding: 0.3em;
    width: 100%;
    max-width: 600px;
    height: 100%;
}