nav.navbar { 
    position: sticky;
    height: 0;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 999;
    margin: 0;
    padding: 0;
}

.navContainer {
    width: 100vw;
}

nav.navbar.active {
    background-color: blue;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 1em 2em;
    text-decoration: none;
    /* color: white; */
    margin: 0;
    background-color: transparent;
}

.navbar li {
    list-style: none;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 1.5em;
    cursor: pointer;
    letter-spacing: 2px;
}

.navbar li:hover {
    color: rgb(63, 96, 160);
    transition: all 0.3s ease-out;

}

aside.linkedIn {
    background-color: black;
}

.linkedIn {
    padding: 0 1em 0;
    position: sticky;
    top: 92%;
    left: 1%;
    height: 0;
    background-color: transparent;
    z-index: 999;
    float: left;
}

/* s */

.linkedIn i {
    font-size: 2em;
}

.linkedIn a {
    color: inherit;
}

/* Nav Drawer */

.navDrawer {
    display: none;
}

.drawer-ul {
    margin: 1em 0;
}

.drawer-ul li {
    list-style: none;
    padding: 0.5em 0;
    font-weight: 600;
}

.hideAnchor {
    display: none;
}

.dashboardIcon {
    color: rgb(255, 255, 255);
    margin: 1em 0 0;
    padding: 0;
}

@media all and (max-width: 576px) {
    .navDrawer {
        display: flex;
        position: sticky;
        float: left;
        left: 0;
        top: 0;
        width: 0;
        height: 100vh;
        z-index: 999;        
        cursor: pointer;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .navbar ul {
        display: none;
    } 
}