nav.navbar { 
    position: sticky;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 999;
    margin: 0;
    padding: 0;
}

.navContainer {
    width: 100vw;
}

.navDark {
    background-color:#20252d94;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin: 0;
    padding: 1em 2em;
}

.navLight {
    background-color: rgba(100, 120, 150, 0.681);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin: 0;
    padding: 1em 2em;
}

.navbar li {
    list-style: none;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 1.5em;
    cursor: pointer;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
}

.navbar li:hover {
    color: rgb(99, 117, 155);
    transition: all 0.3s ease-out;
}

.navbar img {
    width: 18px;
    object-fit: contain ;
}

#sun, #moon {
    width: 25px;
}

/* Nav Drawer */

#navDrawer {
    display: none;
}

.drawer-ul img {
    width: 20px;
}

.drawer-ul {
    padding: 10%;
    margin: 0 auto;
    height: 100vh;
}

.drawer-ul li {
    list-style: none;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
}

.drawer-ul li:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
    margin-top: 100%;
}

.hideAnchor {
    display: none;
}

.dashboardIcon {
    margin: 1em 0 0;
    padding: 0;
}

.dashBlack {
    color: black;
}

.dashWhite {
    color: rgb(255, 255, 255);
}

@media all and (max-width: 768px) {
    #navDrawer {
        display: flex;
        position: sticky;
        float: left;
        left: 0;
        top: 0;
        width: 0;
        height: 100vh;
        z-index: 999;        
        cursor: pointer;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: inherit;
    }

    .navbar ul {
        display: none;
    } 
}

.on {
    display: none;
}

.off {
    text-shadow: 0;
}

.navDrawerDark {
    background-color: #050F25;
    color: white;
}

.navDrawerLight {
    background-color: rgb(192, 206, 225);
    color: black;
}