/** Navigation Bar **/
* {
    box-sizing: border-box;
}
  
.appBar {
    box-shadow: none;
    --body-color1: #c7ddef;
    background-color: var(--body-color1);
    border: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.appBar a {
    color: rgb(5, 22, 51);
    border: 0;
    background-color: var(--body-color1);    
    font-family: 'League Spartan', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    padding: 0;
    margin: 0 1em;
}

.appBar a:hover {
    color: rgb(131, 161, 218);
    transition: all 0.3s ease-out;
}

.appBar li.active {
    color: rgb(38, 49, 114);
}

.navList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    background-color: var(--body-color1);    
    border: 0;
    margin: auto;
}

/** Drawer **/

.hideButton {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
    opacity: 1;
    margin: 0 auto;
    text-align: center;
    background-color: var(--body-color1);    
}

.dashboardPortfolio {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    font-size: 1.25em;
    font-weight: 700;
}

@media all and (min-width: 576px) {
    .hideButton {
       display: none;
    }
    
    .hiddenDrawer {
        margin-right: 2em;
    }
}

.drawerLinks {
    display: flex;
    text-decoration: none;
    color: rgb(10, 5, 52);
    text-align: center;
}