.portfolioBg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-family: 'League Spartan', sans-serif;
  background-color:#131529;  
  position: relative;
}

/* Portfolio CSS Animation */

.checkOut {
  display: flex;
  width: 100vw;
  justify-content: center;
  backdrop-filter: blur(5px);
  /* border-top: 2px solid white; */
  /* border-bottom: 2px solid white; */
  /* box-shadow: 0 0 3em white; */
  /* overflow: hidden; */
  margin: auto 0 20vh;
  z-index: 1;
}

.checkOut div {
  padding: 0;
  /* background: white; */
}

.checkOut h1 {
  font-weight: 700;
  text-align: center;
  padding: 0.5em 0.5em;
  color: #ffffff;
  text-transform: uppercase;
}

/* KodeGo Image */

.kodego {
  position: absolute;
  z-index: 0;
  top: 15%;
  right: auto;
  left: auto;
}

.kodego img {
  height: 30vh;
}

.portfolioBgOne {
  height: 100vh;
  display: flex;
  background-color:#131529;  
  border: 0;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-end;
}

.one {
  margin-left: 5vw;
  position: sticky;
  left: 0%;
}

.portfolioBgTwo {
  height: 100vh;
  display: flex;
  background-color:#131529;  
  border: 0;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-end;
}

.two {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.portfolioBgThree {
  height: 100vh;
  display: flex;
  background-color:#131529;  
  border: 0;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.three {
  margin-left: 5vw;
  position: sticky;
  bottom: 20%;
  left: 0%;
}

.four {
  margin-right: 5vw;
  position: sticky;
  bottom: 0%;
  left: 0%;
}

.portfolioBgFour {
  height: 100vh;
  display: flex;
  background-color:#131529;  
  border: 0;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
}

.five {
  margin-left: 5vw;
  position: sticky;
  top: 20%;
  left: 0%;
}

.six {
  margin-right: 5vw;
  position: sticky;
  top: 40%;
  left: 0%;
}

article {
  width: 100vw;
}


article h2, article h1 {
  font-family: 'League Spartan', sans-serif;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.one h1 {
  text-align: start;
}

.two h1 {
  text-align: center;
}

.three h2 {
  text-align: start;
}

.four h2 {
  text-align: end;
}

.six h2 {
  text-align: end;
}