.portfolioBg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000000; 
}

/* Mini Project 1 */

.mp1 {
  /* background-color: rgb(179, 214, 191); */
  /* border: 2px solid white; */
  height: 75vh;
  width: 90vw;
  border-radius: 1em;
}

.mp1 h1 {
  color: rgb(96, 176, 96);
  font-weight: 700;
  text-align: center;
}

.mp1Text p {
  text-align: justify;
  font-size: 1.4em;
  font-weight: 600;
  color: white;
}

.mp1Img {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
}

.mp1Img img {
  margin: auto;
  object-fit: cover;
  background-color: rgb(42, 53, 42);
  padding: 0.5em;
  max-width: 500px;
}

@media all and (max-width: 576px) {
  .mp1Img img {
    width: 85vw;
  }

  .mp1Text p {
    font-size: 1.2em;
  }
}

/* Mini Project 2 */

.mp2 {
  height: 75vh;
  width: 90vw;
  border-radius: 1em;
}

.mp2 h1 {
  color: rgb(173, 142, 224);
  font-weight: 700;
  text-align: center;
}

.mp2Text p {
  text-align: justify;
  font-size: 1.4em;
  font-weight: 600;
  color: white;
}

.mp2Img {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
}

.mp2Img img {
  margin: auto;
  object-fit: cover;
  background-color: rgb(42, 53, 42);
  padding: 0.5em;
  width: 500px;
}

@media all and (max-width: 576px) {
  .mp2Img img {
    width: 85vw;
  }

  .mp2Text p {
    font-size: 1.2em;
  }
}

/* Portfolio CSS Animation */

.checkOut {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.082);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 0 0 3em white;
  /* overflow: hidden; */
}

.checkOut div {
  padding: 0;
  /* background: white; */
}

.checkOut h1 {
  font-weight: 700;
  text-align: center;
  padding: 0.5em 0;
  color: #ffffff;
  text-transform: uppercase;
}