@import "Mini Project.css";
@import "Extras.css";

.portfolioBg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;
}

.checkOut {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: auto 0 20vh;
  z-index: 1;
}

.checkOut div {
  padding: 0;
}

.checkOut h1 {
  text-align: center;
  padding: 0.5em 0.5em;
  text-transform: uppercase;
  word-spacing: 10px;
  font-weight: 700;
}

/* KodeGo Image */

.kodego {
  position: absolute;
  z-index: 0;
  top: 10%;
  right: auto;
  left: auto;
}

.kodego img {
  height: 30vh;
}